
    <%- include('../layouts/userHeader.ejs')%>
    <%- include('../layouts/userNavBar.ejs')%>
 

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                       
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <div class="table-responsive">
                                                      <table class="table table-hover">
                                                        <thead style="color: black;">
                                                          <tr>
                                                            <th style="color: black;">Name</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody id="categoryTableBody">
                                                          <% if (categories.length > 0) { %>
                                                            <% for (let i = 0; i < categories.length; i++) { %>
                                                              <tr>
                                                                <td>
                                                                  <a href="/shop?category=<%= categories[i]._id %>">
                                                                    <%= categories[i].name %>
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            <% } %>
                                                          <% } else { %>
                                                            <tr>
                                                              <td colspan="3">No categories found</td>
                                                            </tr>
                                                          <% } %>
                                                        </tbody>
                                                      </table>
                                                    </div>
                                                  </ul>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="shop__sidebar__search" >
                                <form action="#" id="searchForm">
                                    <input type="text" id="searchInput" placeholder="Search...">
                                    <button type="submit"><span class="icon_search"></span></button>
                                  </form>
                                  <div id="searchResults" class="row"></div>
                                  <!-- <div id="searchResults" class="row" style="width:155px" class="shop__sidebar__search"></div> -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by:</p>
                                    <select id="sortOption" onchange="applySort()">
                                        <option value="">Select</option>
                                        <option value="priceLowHigh">Price: Low to High</option>
                                        <option value="priceHighLow">Price: High to Low</option>
                                        <option value="nameAZ">Product Name: A to Z</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ==================================producrs showing from here===================================== -->
                    
                    <div class="row">
                        <!-- <div class="col-lg-3">
                          Sidebar content here
                        </div> -->
                        <div class="col-lg-12">
                            <!-- Product display -->
                            <div class="row">
                                <% products.forEach(product => { %>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg">
                                                <a href="/shop_details?ProductId=<%= product._id %>">
                                                    <img src="/productsImages/<%= product.mainimage %>" style="max-width: 250px; max-height: 250px;">
                                                </a>
                                                <ul class="product__hover">
                                                    <div class="product-action-vertical">
														<% if (user) { %>
                                                          

                                                             <li><a onclick="addToWishlist('<%= product._id  %>')"><img src="userAssets/img/icon/heart.png" alt=""></a></li> 
														<% } else { %>
															<!-- <a href="/login" class="btn-product-icon btn-wishlist btn-expandable" style="color: red;"><span>Login</span></a> -->
                                                            <li><a href="/login" ><img src="userAssets/img/icon/heart.png" alt=""></a></li>
														<% } %>
													</div>
                                                    <!-- <li><a href="#"><img src="userAssets/img/icon/heart.png" alt=""></a></li> -->
                                                    <!-- <li><a href="#"><img src="userAssets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                                    <li><a href="#"><img src="userAssets/img/icon/search.png" alt=""></a></li> -->
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><%= product.name %></h6>
                                               
                                                <%if(product.Stock<=0){  %>
                                                  
                                                    <a ><span style="color: red;">OUT OF STOCK</span></a>
    
                                                <%}else { %>
                                                    <a onclick="addToCart('<%= product._id %>')" class="add-cart">+ Add To Cart</a>
                                                    <% } %>
                                                    <h5>₹<%= product.finalPrice %></h5>
                                                    <% if (product.productDiscountPercentage > 0) { %>
                                                        <span style="color: red;"><%= product.productDiscountPercentage %>% off</span>
                                                        <h4 style="text-decoration: line-through;">₹<%= product.price %></h4>
                                                      <% } else if(product.categoryDiscountPercentage){%>
                                                        <span style="color: red;"><%= product.categoryDiscountPercentage %>% off</span>
                                                        <h4 style="text-decoration: line-through;">₹<%= product.price %></h4>
                                                        <% } %>
                                                     
                                                    
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
            
                            <!-- Pagination Links -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product__pagination">
                                        <% if (currentPage > 1) { %>
                                            <a href="/shop?page=<%= currentPage - 1 %>&limit=9">&laquo;</a>
                                        <% } %>
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <a class="<%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %>&limit=9"><%= i %></a>
                                        <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <a href="/shop?page=<%= currentPage + 1 %>&limit=9">&raquo;</a>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!-- Shop Section End -->

    <script>
       function addToWishlist(productId){
		console.log("hello")
		fetch(`/addToWishlist?productId=${productId}`,
        {method : 'POST'})
		.then(response=> response.json())
		.then(data=>{
			if(data.success){
				Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: "product Added to Wishlist Successfully",
                        showConfirmButton: false,
                        timer: 1500
                    })
                    // .then(() => {
                    //     window.location.reload();
                    // })
                    ;
			}else{
				Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Failed to add product to Wishlist.',
                        showConfirmButton: false,
                        timer: 1500
                    });
			}
		})
		.catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while adding product to Wishlist.',
                    showConfirmButton: false,
                    timer: 1500
                });
            });
	}

        function addToCart(ProductId) {
            const quantity = 1;
            fetch(`/addToCart?ProductId=${ProductId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Product added to cart successfully.',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    else if(data.message="already"){
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: data.error || 'product is already in the cart.',
                            showConfirmButton: false,
                            timer: 2500
                        });

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: data.error || 'Failed to add product to cart.',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'An error occurred while adding product to cart.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                });


            }
            function applySort() {
        const sortOption = document.getElementById('sortOption').value;
        const currentUrl = window.location.href.split('?')[0];
        window.location.href = `/shopSort?sort=${sortOption}`;
    };
    document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById("searchInput");
    const searchResults = document.getElementById("searchResults");

    searchInput.addEventListener("input", function() {
      const query = searchInput.value;

      if (query.length > 0) {
        fetch(`/search?query=${encodeURIComponent(query)}`)
          .then(response => response.json())
          .then(data => {
            searchResults.innerHTML = data.map(product => `
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                  <div class="product__item__pic set-bg">
                    <a href="/shop_details?ProductId=${product._id}">
                      <img src="/productsImages/${product.mainimage}" style="max-width: 250px; max-height: 250px;">
                    </a>
                    <ul class="product__hover">
                      <li><a href="#"><img src="userAssets/img/icon/heart.png" alt=""></a></li>
                      <li><a href="#"><img src="userAssets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                      <li><a href="#"><img src="userAssets/img/icon/search.png" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6>${product.name}</h6>
                    <a onclick="addToCart('${product._id}')" class="add-cart">+ Add To Cart</a>
                    <h5>₹${product.price}</h5>
                  </div>
                </div>
              </div>
            `).join('');
          })
          .catch(error => {
            console.error('Error fetching search results:', error);
          });
      } else {
        searchResults.innerHTML = '';
      }
    });
  });
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById("searchInput");
    const searchResults = document.getElementById("searchResults");

    searchInput.addEventListener("input", function() {
      const query = searchInput.value;
      const page = 1; // Reset to the first page for new search queries
      const limit = 9;

      if (query.length > 0) {
        fetch(`/search?query=${encodeURIComponent(query)}&page=${page}&limit=${limit}`)
          .then(response => response.json())
          .then(data => {
            searchResults.innerHTML = data.products.map(product => `
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                  <div class="product__item__pic set-bg">
                    <a href="/shop_details?ProductId=${product._id}">
                      <img src="/productsImages/${product.mainimage}" style="max-width: 250px; max-height: 250px;">
                    </a>
                    <ul class="product__hover">
                      <li><a href="#"><img src="userAssets/img/icon/heart.png" alt=""></a></li>
                      <li><a href="#"><img src="userAssets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                      <li><a href="#"><img src="userAssets/img/icon/search.png" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6>${product.name}</h6>
                    <a onclick="addToCart('${product._id}')" class="add-cart">+ Add To Cart</a>
                    <h5>₹${product.price}</h5>
                  </div>
                </div>
              </div>
            `).join('');
          })
          .catch(error => {
            console.error('Error fetching search results:', error);
          });
      } else {
        searchResults.innerHTML = '';
      }
    });
  });
    </script>
    

<%-include("../layouts/userFooter.ejs") %>